@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dracula --prefersdark, winter --default;
}

@theme {
  --font-sofia-sans: var(--font-sofia-sans);
  --font-rubik: var(--font-rubik);
}

html, body {
  font-family: var(--font-rubik), sans-serif;
}

ul {
  margin-top: .2rem;
}

